* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(180deg, #dbeafe, #add0ff);
  gap: 32px;

  .title-container {
    position: relative;

    .page-title {
      font-weight: 600;
      text-align: center;
      font-size: 32px;

      span {
        color: #4F46E5;
      }
    }

    .arrow-detail {
      position: absolute;
      right: -90px;
      height: 130px;
      top: 10px;
      transform: rotate(-10deg);
    }
  }

  .qr-code-container {
    background-color: #f8fafc;
    padding: 12px;
    border-radius: 12px;
    display: flex;
    gap: 12px;
    width: 700px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

    .qr-code, .qr-code-customization {
      background-color: #fff;
      padding: 18px;
      border-radius: 12px;
      width: 50%;
    }

    .qr-code {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .link-input {
        display: flex;
        flex-direction: column;
        gap: 2px;

        label {
          font-weight: 600;
          font-size: 14px;
        }

        input {
          padding: 10px;
          border-radius: 8px;
          border: solid 1px #e2e8f0;

          &:focus {
            outline: 1px solid #4F46E5;
          }
        }
      }

      .qr-code-preview {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
      }
    }

    .qr-code-customization {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .customization-container {
        display: flex;
        flex-direction: column;
        gap: 4px;

        .input-container {
          display: flex;
          flex-direction: column;
          gap: 14px;

          .input-box {
            display: flex;
            flex-direction: column;
            gap: 2px;

            label {
              font-weight: 400;
              font-size: 14px;
            }

            .input-file {
              opacity: 0;
              position: absolute;
              z-index: 2;
              height: 60px;
              cursor: pointer;
            }

            .input-file-button {
              position: relative;
              z-index: 1;
              background-color: #4F46E5;
              border-radius: 8px;
              border: none;
              padding: 8px 12px;
              color: #fff;
              display: flex;
              gap: 4px;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              font-size: 14px;
              width: fit-content;
            }

            #logoSize {
              background-color: #f8fafc;
              border: 1px solid #e2e8f0;
              padding: 8px 12px;
              border-radius: 8px;
              appearance: none;
              background-image: url("../../public/chevron-down.svg");
              background-repeat: no-repeat;
              background-position: right 12px center;
              background-size: 18px;

              &:focus {
                outline: 1px solid #4F46E5;
              }
            }
          }

        }

        .input-container.colors {
          flex-direction: row;
          gap: 32px;

          .input-color {
            border: none;
            background-color: transparent;
            height: 30px;
            width: 100%;
            cursor: pointer;
          }
        }
      }

      .download-button {
        background-color: #4F46E5;
        color: #fff;
        padding: 12px 24px;
        border-radius: 8px;
        font-weight: 600;
        border: none;
        cursor: pointer;
        transition: background-color 0.2s;

        &:hover {
          background-color: #4338ca;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 32px 5%;
    gap: 16px;
    width: 103%;

    .title-container {
      .arrow-detail {
        display: none;
      }
    }

    .qr-code-container {
      flex-direction: column;
      width: 100%;

      .qr-code {
        width: 100%;
      }

      .qr-code-customization {
        width: 100%;
        gap: 12px;
      }
    }
  }
}

@media screen and (max-width: ) {
  
}